/* static/css/style.css */

/* 使用更具体的选择器确保样式生效 */
html body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    background-color: transparent !important;
}

/* 提高伪元素选择器的特异性 */
html body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: -1;
}

/* 确保内容在遮罩层之上 */
body .container {
    position: relative;
    z-index: 1;
}